<div class="jumbotron bg-transparent mb-0 radius-0">
  <div class="container">
    <div class="row">
      <div class="col-xl-8">
        <h1 class="display-3">Учебный полигон<span class="vim-caret">͏͏&nbsp;</span></h1>
        <div class="lead mb-3 text-mono text-success">
          Платформа практической подготовки кафедры информационных технологий РГТУ.
          Здесь размещены практические, лабораторные и контрольные задания по изучаемым
          дисциплинам с автоматической проверкой ответов.
        </div>
        <div class="text-mono mb-3">
          Задания распределены по категориям, соответствующим учебным дисциплинам:
          базы данных, алгоритмы, компьютерные сети, информационная безопасность,
          криптография, программирование, операционные системы и другим. За каждое
          верно выполненное задание начисляются баллы, а текущие результаты
          отображаются в таблице результатов.
        </div>
        <div class="text-mono">
          <a href="challenges" class="btn btn-primary btn-shadow px-3 my-2 ml-0 text-left">
            Перейти к заданиям
          </a>
        </div>
        <div class="text-darkgrey text-mono my-2">
          Вход выполняется по доменной учётной записи (логин вида user@ctfd.loc).
          Отдельная регистрация не требуется — учётная запись создаётся автоматически
          при первом входе.
        </div>
        <p class="mt-5 text-grey text-spacey">
          Желаем успехов в обучении!
          <br>
        </p>
      </div>
    </div>
  </div>
</div>
